<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pl.pwsz.studentsindex">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"> <!-- suppress google indexing warning -->

        <activity
            android:name=".views.SelectStudiesActivity"
            android:label="@string/title_activity_select_studies"
            android:parentActivityName=".views.HomeScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.pwsz.studentsindex.views.HomeScreenActivity" />
        </activity>
        <activity
            android:name=".views.AddStudyActivity"
            android:label="@string/title_activity_add_study"
            android:parentActivityName=".views.SelectStudiesActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.pwsz.studentsindex.views.SelectStudiesActivity" />
        </activity>
        <activity
            android:name=".views.AddGradeActivity"
            android:label="@string/title_activity_home_screen"
            android:parentActivityName=".views.ShowGradesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.pwsz.studentsindex.views.ShowGradesActivity" />
        </activity>
        <activity
            android:name=".views.AddCategoryActivity"
            android:label="@string/title_activity_add_category"
            android:parentActivityName=".views.HomeScreenActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.pwsz.studentsindex.views.HomeScreenActivity" />
        </activity>
        <activity
            android:name=".views.HomeScreenActivity"
            android:label="@string/title_activity_home_screen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.ShowGradesActivity"
            android:label="@string/title_grade_list"
            android:parentActivityName=".views.HomeScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.pwsz.studentsindex.views.HomeScreenActivity" />
        </activity>
        <activity
            android:name=".views.GradeDetailActivity"
            android:label="@string/title_grade_detail"
            android:parentActivityName=".views.ShowGradesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.pwsz.studentsindex.views.ShowGradesActivity" />
        </activity>
        <activity android:name=".views.AddNoteActivity" />
        <activity
            android:name=".views.ShowNotesActivity"
            android:label="@string/title_notes_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.NoteDetailActivity"
            android:label="@string/title_note_detail"
            android:parentActivityName=".views.ShowNotesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.pwsz.studentsindex.views.ShowNotesActivity" />
        </activity>
        <activity android:name=".views.AddExamActivity"
            android:parentActivityName=".views.ShowExamsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.pwsz.studentsindex.views.ShowExamsActivity" />
        </activity>

        <activity android:name=".views.ShowExamsActivity"
            android:parentActivityName=".views.HomeScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.pwsz.studentsindex.views.HomeScreenActivity" />
        </activity>
    </application>

</manifest>